/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 19, 2025, 1:51:03 PM
    Author     : admin
*/

.Main {
    -fx-background-color: lightblue;
    -fx-padding: 10;
    -fx-alignment: CENTER;
    -fx-spacing: 10;
}
.Subject{
    -fx-font-size: 40; 
    -fx-fill: red; 
    -fx-stroke: antiquewhite;
    -fx-stroke-width: 4;
}
.Button{
    -fx-background-color: darkblue;
    -fx-text-fill: white; 
    -fx-pref-width: 250;
    -fx-font-size: 18;
     -fx-font-weight: bold;
}